@charset "UTF-8";
** {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*class container*/
body.modal-open {
  overflow: hidden;
}

.containe-not-bootstrap {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 360px) {
  .containe-not-bootstrap {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .containe-not-bootstrap {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .containe-not-bootstrap {
    width: 768px;
    padding-left: 38px;
    padding-right: 38px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .containe-not-bootstrap {
    padding-left: 38px;
    padding-right: 38px;
    width: 1000px;
  }
}
@media screen and (min-width: 1280px) {
  .containe-not-bootstrap {
    padding-left: 38px;
    padding-right: 38px;
    width: 1280px;
  }
}

.navbar {
  padding-top: 27px;
  padding-bottom: 27px;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-right: 40px;
  max-width: 103px;
  height: 34px;
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: var(--midnight-logic-500);
}

.logo-nav {
  width: 103px;
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 26px;
}

.nav-btn .btn {
  border-radius: 28px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: var(--midnight-logic-500);
}

.nav-btn .btn:first-child {
  background-color: #80b9fb;
  border: none;
  margin-right: 6px;
}

.navbar-collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
}

h2 {
  margin-bottom: 48px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
}

.btn-close-menu {
  display: none;
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-menu {
  padding: 8px;
  border-radius: 12px;
  font-size: 1rem;
  color: #1a1d27;
  background-color: rgba(248, 248, 248, 0.7);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border: none;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  width: 100%;
  padding: 5px;
  background-color: rgba(250, 234, 192, 0.459);
  border-radius: 12px;
}

.second-dropdown-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1279px) {
  body {
    position: relative;
  }
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mobile-block-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4392156863);
    display: none; /* Изначально скрыт */
    opacity: 0;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .navbar-nav {
    background-color: white;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 20px 20px 48px;
  }
  .btn-close-menu {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  .mobile-block-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .mobile-menu {
    background-color: white;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 360px;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .active-block-menu-back {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .active-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar-toggler {
    display: block !important;
  }
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 24px;
  }
}
@media screen and (max-width: 999px) {
  .nav-btn .btn:first-child {
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    background: rgba(60, 141, 234, 0.7);
  }
  .nav-btn .btn:nth-child(2) {
    background: rgba(60, 141, 234, 0);
    border: none;
  }
  .nav-btn {
    color: white;
  }
}
.logo-nav-mobile {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav-head li:first-child,
  .nav-head li:nth-child(2) {
    display: none;
  }
}
.btn-close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .nav-head .nav-item:last-child {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-collapse:not(.show) {
    display: block !important;
  }
  .navbar {
    background-color: #80b9fb !important;
  }
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo-nav-mobile {
    display: block;
  }
  .logo-nav {
    display: none;
  }
}
.hero {
  margin-top: 24px;
  margin-bottom: 72px;
  padding-top: 64px;
  background-color: #80b9fb;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.hero .hero-title h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: -0.03em;
  color: #1a1d27;
}
.hero .hero-title p {
  padding-right: 102px;
  padding-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}
.hero .hero-img {
  position: relative;
}
.hero .hero-img .img-phone {
  max-width: 482px;
  height: 536px;
  display: block;
  border-radius: 32px;
}

.slid-1,
.slid-2,
.slid-3,
.slid-4,
.slid-5 {
  position: absolute;
  top: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 16px;
  padding: 16px;
  width: 272px;
  height: 90px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.7);
}
.slid-1 h3,
.slid-2 h3,
.slid-3 h3,
.slid-4 h3,
.slid-5 h3 {
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #1a1d27;
}
.slid-1 p,
.slid-2 p,
.slid-3 p,
.slid-4 p,
.slid-5 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #1a1d27;
}

.slider-hero-icon img {
  margin-right: 12px;
  max-width: 32px;
  height: 32px;
}

.btn-slider {
  position: absolute;
  top: 476px;
  right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slid-2,
.slid-3,
.slid-4,
.slid-5 {
  right: -100px;
  opacity: 0;
  display: none;
}

.hero-animation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 476px;
}
.hero-animation-container .circle-hero {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.circle1 {
  left: -620px;
}

.circle2 {
  left: -600px;
}

.circle3 {
  left: -580px;
}

.circle4 {
  left: -560px;
}

.circle5 {
  left: -670px;
}

#scroll-section {
  white-space: nowrap;
  overflow-y: scroll;
  margin: 0;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 5px solid green;
  height: 400px;
  padding: 50px;
  padding-bottom: 50px;
}

#scroll-section::-webkit-scrollbar {
  width: 0;
  display: none;
}

.content .card + .card {
  margin-top: 250px;
}

.card {
  width: 286px;
  border: 5px solid red;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.left-btn {
  margin-right: 8px;
}

.left-btn,
.right-btn {
  border-radius: 50%;
  padding: 5px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.7);
}
.left-btn img,
.right-btn img {
  max-width: 18px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .hero-title {
    margin-left: 64px;
    padding-right: 180px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .hero-title {
    margin-left: 64px;
    padding-right: 0px;
  }
  .hero-animation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: absolute;
    top: 476px;
  }
  .hero-animation-container .circle-hero {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .circle1 {
    left: -320px;
  }
  .circle2 {
    left: -300px;
  }
  .circle3 {
    left: -280px;
  }
  .circle4 {
    left: -260px;
  }
  .circle5 {
    left: -370px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .section-hero {
    width: 100%;
    padding: 0px;
    background-color: #80b9fb;
  }
  .section-hero .btn-slider {
    right: -100px;
  }
  .section-hero .hero {
    width: 768px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    padding-left: 38px;
    padding-right: 38px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-hero .hero .hero-title {
    text-align: left;
  }
  .section-hero .hero .hero-title p {
    padding-right: 0px;
  }
}
.section-second {
  background-color: #f8f8f8;
}

.second-block {
  padding: 72px 0 72px 0;
}

.second-title {
  margin-bottom: 40px;
}
.second-title h2 {
  line-height: 107%;
  letter-spacing: -0.03em;
  color: #1a1d27;
}
.second-title p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}

.second-cart-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.second-cart-item .card:not(:last-child) {
  margin-right: 20px;
}
.second-cart-item .card-body {
  padding: 0px;
}
.second-cart-item .card-body h3 {
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}
.second-cart-item .card-body p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}

.people {
  border-radius: 20px;
  padding: 32px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.people .number {
  padding-right: 550px;
}
.people .number p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: -0.03em;
  color: #1a1d27;
}
.people .card-text h3 {
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}
.people .card-text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}

.card-people {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  top: -80px;
  right: -250px;
}

.card-people img {
  max-width: 64px;
  height: 64px;
  position: absolute;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-people img:first-child {
  margin-left: -90px;
  z-index: 9;
}

.card-people img:nth-child(2) {
  margin-left: -45px;
  z-index: 8;
}

.card-people img:nth-child(3) {
  margin-left: 0;
  z-index: 7;
}

.card-people img:nth-child(4) {
  margin-left: 45px;
  z-index: 6;
}

.card-people img:nth-child(5) {
  margin-left: 85px;
  z-index: 5;
}

@media screen and (min-width: 1280px) {
  .card {
    width: 348px;
    border: none;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
  }
  .card img {
    margin-bottom: 20px;
    max-width: 348px;
    height: auto;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .card {
    width: 294px;
    border: none;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 0px;
  }
  .card img {
    margin-bottom: 20px;
    max-width: 254px;
    height: auto;
  }
  .people {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-people {
    right: -700px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .card {
    width: 225px;
    border: none;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 0px;
  }
  .card img {
    margin-bottom: 20px;
  }
  .text-second-block {
    display: none;
  }
  .people {
    background-color: #80b9fb;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-people {
    right: -480px;
  }
  .people .number {
    padding-right: 0px;
  }
}
.third-block {
  margin-top: 72px;
  margin-bottom: 72px;
  padding-left: 64px;
  padding-top: 64px;
  background-color: #80b9fb;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  height: 100vh;
}
.third-block h2 {
  margin-top: 104px;
  margin-bottom: 400px;
  margin-right: 650px;
  line-height: 107%;
  letter-spacing: -0.03em;
  color: #1a1d27;
}

.slider-1,
.slider-2,
.slider-3,
.slider-4,
.slider-5 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 16px;
  width: 200px;
  height: 166px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 99;
}
.slider-1 h3,
.slider-2 h3,
.slider-3 h3,
.slider-4 h3,
.slider-5 h3 {
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #1a1d27;
}
.slider-1 p,
.slider-2 p,
.slider-3 p,
.slider-4 p,
.slider-5 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #1a1d27;
}

.slider-1 {
  top: 502px;
  right: -35px;
}

.slider-2 {
  top: 432px;
  right: -295px;
}

.slider-3 {
  top: 502px;
  right: -420px;
}

.slider-5,
.slider-4 {
  top: 532px;
  right: -95px;
}

.third-img {
  position: relative;
}
.third-img .img-man {
  position: absolute;
  top: 200px;
  right: -150px;
  max-width: 736px;
  height: 652px;
}

.features-widgets,
.app-widget {
  position: absolute;
  top: 0;
  right: 64px;
  display: inline-block;
  min-width: 190px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  /* центрируем относительно left:50% */
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  z-index: 99999;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .third-block h2 {
    margin-right: 0px;
    margin-top: 0px;
  }
  .third-img .img-man {
    top: 300px;
  }
  #third-section {
    width: 100%;
    background-color: #80b9fb;
  }
}
.section-girl {
  background-color: #ffbea5;
}

.businesswoman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 94px;
  padding-left: 43px;
}

.businesswoman-item {
  margin-bottom: 64px;
  margin-right: 38px;
}
.businesswoman-item h2 {
  margin-bottom: 48px;
  text-align: center;
  line-height: 107%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.businesswoman-block:first-child div {
  margin-bottom: 20px;
}

.businesswoman-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.businesswoman-block div:nth-child(2) {
  margin-left: 20px;
}
.businesswoman-block div {
  padding: 24px;
  width: 286px;
  height: 190px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: #ffffff;
}
.businesswoman-block h3 {
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}
.businesswoman-block p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .businesswoman {
    padding-left: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 124px;
  }
  .businesswoman .woman-img {
    margin-top: -180px;
  }
  .businesswoman .businesswoman-item,
  .businesswoman .woman-img {
    margin-left: auto;
    margin-right: auto;
  }
  .businesswoman h2 {
    font-size: 56px;
    line-height: 107%;
    margin-top: -160px;
  }
  .businesswoman .businesswoman-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .businesswoman .businesswoman-blocks .businesswoman-block div {
    padding: 24px;
    width: 216px;
    height: 214px;
  }
  .businesswoman .businesswoman-blocks .businesswoman-block div img {
    margin-bottom: 24px;
  }
  .businesswoman .businesswoman-blocks .businesswoman-block:last-child {
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .section-girl {
    width: 100%;
    background-color: #ffbea5;
    height: 868px;
  }
  .pin-spacer {
    margin-bottom: 0px !important;
  }
  .businesswoman {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .businesswoman .woman-img {
    margin-top: -200px;
    right: 25%;
    position: absolute;
  }
  .businesswoman .woman-img img {
    max-width: 376px;
    height: auto;
  }
  .businesswoman .businesswoman-item {
    position: absolute;
    z-index: 99999;
    margin-top: 200px;
    right: 10%;
  }
}
.section-kompromisiem {
  background-color: #f8f8f8;
}

.blcok-kompromisiem {
  padding-top: 72px;
  padding-bottom: 72px;
}
.blcok-kompromisiem h2 {
  line-height: 107%;
  letter-spacing: -0.03em;
  color: var(--midnight-logic-500);
}

.kompromisiem-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-kompromisiem {
  width: 388px;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 20px;
}
.card-kompromisiem img {
  max-width: 348px;
  height: 132px;
}
.card-kompromisiem h3 {
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}
.card-kompromisiem p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .card-kompromisiem img {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .section-kompromisiem {
    display: none;
  }
}
.business-t {
  position: absolute;
  top: 0;
  right: 64px;
  display: inline-block;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  z-index: 99999;
}

.business-macbook {
  margin-top: 72px;
  margin-bottom: 72px;
  padding-left: 64px;
  padding-top: 64px;
  background-color: #fff4db;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh !important;
  max-height: 100vh !important;
}
.business-macbook h2 {
  margin-top: 104px;
  margin-right: 650px;
  line-height: 107%;
  letter-spacing: -0.03em;
  color: #1a1d27;
}
.business-macbook .hero-title h3 {
  margin-bottom: 304px;
  margin-right: 800px;
}

.business-macbook-slider-1,
.business-macbook-slider-2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 10;
}
.business-macbook-slider-1 h3,
.business-macbook-slider-2 h3 {
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #1a1d27;
}
.business-macbook-slider-1 p,
.business-macbook-slider-2 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #1a1d27;
}

.business-macbook-slider-1 {
  top: 302px;
  right: 350px;
}

.business-macbook-slider-2 {
  top: 302px;
  right: 50px;
}

.slider-business-macbook-icon {
  margin-bottom: 12px;
  margin-right: 12px;
  max-width: 200px;
  height: auto;
}

.business-macbook-img {
  position: relative;
}
.business-macbook-img .img-man {
  position: absolute;
  right: 64px;
  max-width: 736px;
  height: 652px;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .business-macbook {
    height: 100vh;
  }
  .hero-title {
    margin-left: 0px;
  }
  .hero-title h2 {
    margin-top: 0px;
  }
  .hero-title h2,
  .hero-title h3 {
    margin-right: 0px !important;
  }
  .business-macbook-img .img-man {
    bottom: 0%;
  }
  .business-macbook-slider-1 {
    top: 650px;
    right: 250px;
  }
  .business-macbook-slider-2 {
    top: 500px;
    right: -50px;
  }
  .business-macbook-slider1 {
    top: 0px;
    right: 200px;
  }
  .business-macbook-slider3 {
    top: 0px;
    right: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .section-features-banner1 {
    background-color: #fff4db;
  }
  .containe-not-bootstrap {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-features-banner1 .pin-spacer {
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    background-color: #fff4db !important;
  }
  .section-features-banner1 .hero-title h2,
  .section-features-banner1 .hero-title h3 {
    margin-right: 0px;
    text-align: center;
  }
  .section-features-banner1 .hero-title h2 {
    margin-top: 0px;
    font-size: 45px;
  }
  .section-features-banner1 .hero-title h3 {
    margin-left: 144px;
    margin-right: 144px;
  }
  .business-macbook-img .img-man {
    top: 150px;
  }
  .business-macbook {
    padding-left: 0px !important;
  }
}
.lietotāji {
  margin-top: 72px;
  margin-bottom: 72px;
}

.vēlies-uzzināt-item {
  margin-bottom: 20px;
}

.lietotāji-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lietotāji-item .card {
  padding: 32px 23px 32px 23px;
  border: none;
  border-radius: 32px;
  background-color: #fff4db;
}
.lietotāji-item .card img {
  max-width: 128px;
  height: 200px;
}
.lietotāji-item .card .card-body {
  padding: 0px;
}
.lietotāji-item .card .card-body .card-text {
  font-size: 15px;
}
.lietotāji-item .card .card-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lietotāji-item .card .card-body div p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 9px;
  line-height: 122%;
  letter-spacing: 0.01em;
  color: #1a1d27;
}
.lietotāji-item .card .card-body div img {
  max-width: 12px;
  height: 12px;
}
.lietotāji-item .card .card-body div div {
  border-radius: 4px;
  padding: 5.5px 6px 5.5px 6px;
  background-color: #f6e4bb;
}
.lietotāji-item .card .card-body div div p {
  margin: 0px;
}

.lietotāji-item .card {
  width: 286px;
}
.lietotāji-item .card:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .lietotāji {
    overflow: hidden;
  }
  .card {
    width: 280px;
  }
  .lietotāji-item .card:not(:last-child) {
    margin-right: 10px;
  }
}
.mini-block-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.mini-block-video .video {
  border-radius: 4px;
  padding: 6px;
  background-color: #ffbea5;
}
.mini-block-video .video p {
  margin: 0px 0px 0px 4px;
}
.mini-block-video .info-c {
  color: #3c8dea;
  font-weight: 700;
  font-size: 11px;
  line-height: 118%;
}
.mini-block-video .info-c p {
  margin-right: 4px;
}
.mini-block-video div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.vēlies-uzzināt-item {
  border-radius: 32px;
  padding: 48px 64px;
  background-color: #f8f8f8;
  overflow: hidden;
}

.video-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-animation: scrollLeftRight 15s ease-in-out infinite;
          animation: scrollLeftRight 15s ease-in-out infinite;
}

.video-block {
  margin-right: 20px;
}

.video-block img {
  max-width: 254px;
  height: 318px;
}

@-webkit-keyframes scrollLeftRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-254px);
            transform: translateX(-254px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scrollLeftRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-254px);
            transform: translateX(-254px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.mini-block-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.animation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  position: relative;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}

.circle:not(:last-child) {
  margin-right: 6px;
}

.mini-block-cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.mini-block-cars .cars {
  border-radius: 4px;
  padding: 6px;
  background-color: #ffbea5;
}
.mini-block-cars .cars p {
  margin: 0px 0px 0px 4px;
}
.mini-block-cars .info-c {
  color: #3c8dea;
  font-weight: 700;
  font-size: 11px;
  line-height: 118%;
}
.mini-block-cars .info-c p {
  margin-right: 4px;
}
.mini-block-cars div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.vēlies-uzzināt-item {
  border-radius: 32px;
  padding: 48px 64px;
  background-color: #f8f8f8;
  overflow: hidden;
}

.cars-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scrollLeftRights 15s ease-in-out infinite;
          animation: scrollLeftRights 15s ease-in-out infinite;
}

.car-block {
  margin-right: 20px;
  margin-bottom: 32px;
}
.car-block p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.car-block img {
  max-width: 345px;
  height: 128px;
  margin-bottom: 16px;
}

@-webkit-keyframes scrollLeftRights {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-345px);
            transform: translateX(-345px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scrollLeftRights {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-345px);
            transform: translateX(-345px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.animation-container-cars {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  position: relative;
}

.sanem-svarigako {
  margin-bottom: 24px;
  border-radius: 32px;
  padding: 64px;
  background-color: #80b9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sanem-svarigako form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sanem-svarigako form .input {
  border: 1px solid var(--midnight-logic-50);
  border-radius: 8px;
  padding: 0px 16px;
  width: 528px;
  height: 48px;
}
.sanem-svarigako input[type=checkbox] {
  height: 0;
  width: 0;
}
.sanem-svarigako input[type=checkbox] + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
.sanem-svarigako input[type=checkbox] + label > ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
}
.sanem-svarigako input[type=checkbox] + label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
.sanem-svarigako input[type=checkbox] + label:hover > span,
.sanem-svarigako input[type=checkbox]:focus + label > span {
  background: rgba(255, 255, 255, 0.1);
}
.sanem-svarigako input[type=checkbox]:checked + label > ins {
  height: 100%;
}
.sanem-svarigako input[type=checkbox]:checked + label > span {
  border: 0.5em solid #ffffff;
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
.sanem-svarigako input[type=checkbox]:checked + label > span:before {
  content: "";
  position: absolute;
  top: 0.8em;
  left: 0.3em;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
          animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}
@-webkit-keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
.sanem-svarigako .form-btn {
  border-radius: 28px;
  padding: 0px 20px;
  background-color: #fff4db;
  border: none;
  color: #1a1d27;
  font-weight: 700;
  padding: 13px 20px 13px 20px;
  margin-left: 397px;
}
.sanem-svarigako div:first-child img {
  max-width: 320px;
  height: 320px;
}
.sanem-svarigako div:nth-child(2) {
  margin-left: 228px;
}
.sanem-svarigako div:nth-child(2) h2 {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 34px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #1a1d27;
}
.sanem-svarigako div:nth-child(2) p {
  margin-bottom: 24px;
}

.uzdotie {
  padding-top: 72px;
  padding-bottom: 112px;
}
.uzdotie h2 {
  text-align: center;
}

.accordion {
  margin-left: 302px;
  margin-right: 302px;
}

.accordion-header button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #1a1d27;
}

.accordion-item {
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: white;
}

.accordion-button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .sanem-svarigako div:first-child img {
    max-width: 252px;
    height: 252px;
  }
  .sanem-svarigako div:nth-child(2) {
    margin-left: 0px;
  }
  .uzdotie .accordion {
    margin-left: 165px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .sanem-svarigako {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sanem-svarigako div:first-child img {
    max-width: 240px;
    height: 240px;
  }
  .sanem-svarigako div:nth-child(2) {
    margin-left: 0px;
  }
  .sanem-svarigako form .input {
    width: 100%;
  }
  .accordion-flush {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.komanda {
  border-radius: 32px;
  padding: 64px;
  background-color: #ffbea5;
  margin-bottom: 38px;
}

.komanda-left {
  position: relative;
}
.komanda-left img {
  position: absolute;
  top: -100px;
  left: 104px;
  max-width: 404px;
}

.komanda-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 11;
}
.komanda-item div {
  border-radius: 8px;
  padding: 8px 12px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.7);
}
.komanda-item div h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: #1a1d27;
}
.komanda-item div p {
  font-weight: 500;
  font-size: 9px;
  line-height: 122%;
  letter-spacing: 0.01em;
  color: #1a1d27;
}
.komanda-item div:first-child {
  position: absolute;
  left: 50px;
  top: 70px;
  width: 149px;
  height: 45px;
}
.komanda-item div:nth-child(2) {
  position: absolute;
  left: 350px;
  top: 200px;
  width: 92px;
  height: 67px;
}
.komanda-item div:nth-child(3) {
  position: absolute;
  left: 420px;
  top: 100px;
  width: 106px;
  height: 45px;
}

.komanda-right {
  margin: 78px 0px 78px 650px;
}
.komanda-right h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 107%;
  letter-spacing: -0.03em;
  color: #1a1d27;
  margin-bottom: 12px;
}
.komanda-right p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #1a1d27;
  margin-bottom: 32px;
}
.komanda-right div a {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.btn-komanda {
  padding: 13px 20px 13px 20px;
  border-radius: 28px;
  background-color: #fff4db;
  font-weight: 700;
  margin-left: 156px;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .komanda-left img {
    position: absolute;
    top: -100px;
    left: 4px;
    max-width: 404px;
  }
  .komanda-right {
    margin-bottom: 142px;
    margin-top: 0px;
    margin-left: 499px;
  }
  .komanda-right div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .komanda-item div:nth-child(3) {
    left: 320px;
  }
  .komanda-item div:nth-child(2) {
    left: 250px;
  }
  .komanda-item div:first-child {
    left: 0px;
  }
  .btn-komanda {
    margin-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .komanda {
    margin-bottom: 0px;
  }
  .section-team {
    background-color: #ffbea5;
  }
  .komanda-right {
    margin: 450px 0px 78px 0px;
  }
  .komanda-right div {
    text-align: right;
  }
  .btn-komanda {
    margin-left: 24px;
  }
}
.footer {
  background-color: #f8f8f8;
}

.footer-top {
  padding-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hand-up {
  border-radius: 28px;
  padding: 7px 20px 8px 20px;
  background-color: #d1d2d4;
  color: #1a1d27;
  font-weight: 700;
  font-size: 11px;
  line-height: 118%;
  letter-spacing: -0.01em;
}

.footer-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 72px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 74px;
}
.footer-social img:not(:last-child) {
  margin-right: 20px;
}

.bl-text,
.gr-text {
  font-weight: 500;
  font-size: 12px;
  color: #1a1d27;
  margin-right: 420px;
}

.bl-text {
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1a1d27;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.gr-text {
  line-height: 117%;
  letter-spacing: -0.01em;
  color: rgba(26, 29, 39, 0.38);
}

.footer-center-block,
.footer-right-block {
  width: 286px;
}
.footer-center-block h3,
.footer-right-block h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: rgba(26, 29, 39, 0.38);
  margin-bottom: 33px;
}
.footer-center-block ul,
.footer-right-block ul {
  padding: 0px;
}
.footer-center-block ul li,
.footer-right-block ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1a1d27;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .footer-top {
    position: relative;
  }
  .footer-top div:last-child {
    position: absolute;
    top: 130px;
    right: 0px;
  }
  .footer-bottom {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-social {
    position: absolute;
    right: 0px;
    top: -70px;
  }
  .footer-left-block p {
    margin-right: 0px;
  }
  .footer-left-block .gr-text {
    margin-right: 635px;
  }
}
.summ {
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #f8f8f8;
}
.summ .title-summ {
  text-align: center;
}

.list-first-price > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.list-first-price .paragraf-sum {
  text-align: center;
  margin-bottom: 32px;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: #1a1d27;
}

.accordion-price {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}
.accordion-price .accordion-body {
  padding-right: 0px;
  padding-left: 0px;
}
.accordion-price .accordion-body li {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  margin-bottom: 10px;
}
.accordion-price .accordion-body li img {
  margin-right: 8px;
}
.accordion-price .accordion-item,
.accordion-price .accordion-button {
  background-color: #eaeaeb;
}

.accordion-child {
  padding-left: 16px;
  padding-right: 16px;
}
.accordion-child .accordion-item,
.accordion-child .accordion-button {
  background-color: #eaeaeb;
  padding-right: 0px;
  padding-left: 0px;
}

.accordion-body ul {
  padding-left: 0px;
}
.accordion-body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.accordion-body ul li img {
  max-width: 18px;
  height: 18px;
}

.price1,
.price2,
.price3 {
  width: 272px;
  background-color: #ffffff;
  border-radius: 24px;
}

.price12 {
  background-color: #80b9fb;
  border-radius: 28px;
  padding: 10px 5px 10px 5px;
  margin: 16px 16px 24px 16px;
}
.price12 h3 {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
}

.price-last-list {
  padding-left: 16px;
  padding-right: 16px;
}
.price-last-list ul {
  padding-left: 0px;
}
.price-last-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  margin-bottom: 10px;
}
.price-last-list ul li img {
  max-width: 18px;
  height: 18px;
  margin-right: 8px;
}

.price11 h2,
.price22 h2,
.price33 h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 0px;
}
.price11 h3,
.price22 h3,
.price33 h3 {
  font-weight: 700;
  font-size: 11px;
  line-height: 118%;
  letter-spacing: -0.01em;
}
.price11 p,
.price22 p,
.price33 p {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  margin-bottom: 0px;
}
.price11 p span,
.price22 p span,
.price33 p span {
  font-weight: 700;
  font-size: 34px;
  line-height: 118%;
}

.price11 {
  border-radius: 24px;
  padding: 16px;
  background-image: url(../../image/book.png);
  background-repeat: no-repeat;
  background-color: #eaeaeb;
  background-position: right bottom; /* Размещаем картинку в правом нижнем углу */
  background-size: 109px 107px; /* Устанавливаем размеры картинки */
}

.price22 {
  border-radius: 24px;
  padding: 16px;
  background-image: url(../../image/pig.png);
  background-repeat: no-repeat;
  background-color: #ffbea5;
  background-position: right bottom; /* Размещаем картинку в правом нижнем углу */
  background-size: 109px 162px; /* Устанавливаем размеры картинки */
}

.price33 {
  color: #ffffff;
  border-radius: 24px;
  padding: 16px;
  background-image: url(../../image/money.png);
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: right bottom; /* Размещаем картинку в правом нижнем углу */
  background-size: 109px 162px; /* Устанавливаем размеры картинки */
}

.active-block-price {
  display: none !important;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e0e0e0;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 44px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 16px;
}

.toggle-option {
  font-weight: 700;
  font-size: 11px;
  line-height: 118%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.toggle-option.activ {
  height: 36px;
}

.activ {
  background-color: #333;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .section-summ {
    background-color: #f8f8f8;
  }
  .price1,
  .price2,
  .price3 {
    width: 245px;
  }
}/*# sourceMappingURL=main.css.map */