//business-macbook
.business-t {
  position: absolute;
  top: 0;
  right: 64px;
  display: inline-block;

  transform: translate(-50%, 0);

  display: flex;

  align-items: center;

  justify-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  z-index: 99999;
}
.business-macbook {
  margin-top: 72px;
  margin-bottom: 72px;
  padding-left: 64px;
  padding-top: 64px;
  background-color: #fff4db;
  border-radius: 32px;
  display: flex;
  flex-wrap: nowrap;
  h2 {
    margin-top: 104px;
    margin-right: 650px;
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #1a1d27;
  }
  .hero-title {
    h3 {
      margin-bottom: 304px;
      margin-right: 800px;
    }
  }
}
.business-macbook-slider-1,
.business-macbook-slider-2 {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;

  z-index: 10;
  h3 {
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #1a1d27;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #1a1d27;
  }
}
.business-macbook-slider-1 {
  top: 302px;
  right: 350px;
}
.business-macbook-slider-2 {
  top: 302px;
  right: 50px;
}
.slider-business-macbook-icon {
  margin-bottom: 12px;
  margin-right: 12px;
  max-width: 200px;
  height: auto;
}

.business-macbook-img {
  position: relative;
  .img-man {
    position: absolute;
    right: 64px;
    max-width: 736px;
    height: 652px;
  }
}
//
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .business-macbook {
    height: 100vh;
  }
  .hero-title {
    margin-left: 0px;
    h2 {
      margin-top: 0px;
    }
    h2,
    h3 {
      margin-right: 0px !important;
    }
  }
  .business-macbook-img .img-man {
    bottom: 0%;
  }
  .business-macbook-slider-1 {
    top: 650px;
    right: 250px;
  }
  .business-macbook-slider-2 {
    top: 500px;
    right: -50px;
  }
  .business-macbook-slider1 {
    top: 0px;
    right: 200px;
  }
  .business-macbook-slider3 {
    top: 0px;
    right: 200px;
  }
}
