// footer
.footer {
  background-color: #f8f8f8;
}
.footer-top {
  padding-top: 72px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.hand-up {
  border-radius: 28px;
  padding: 7px 20px 8px 20px;
  background-color: #d1d2d4;
  color: #1a1d27;
  font-weight: 700;
  font-size: 11px;
  line-height: 118%;
  letter-spacing: -0.01em;
}
.footer-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
}

// footer-bottom
.footer-bottom {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 72px;
}
.footer-social {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 74px;
  img:not(:last-child) {
    margin-right: 20px;
  }
}
.bl-text,
.gr-text {
  font-weight: 500;
  font-size: 12px;
  color: #1a1d27;
  margin-right: 420px;
}
.bl-text {
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1a1d27;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.gr-text {
  line-height: 117%;
  letter-spacing: -0.01em;
  color: rgba(26, 29, 39, 0.38);
}
.footer-center-block,
.footer-right-block {
  width: 286px;
  h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: -0.01em;
    color: rgba(26, 29, 39, 0.38);
    margin-bottom: 33px;
  }
  ul {
    padding: 0px;
    li {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #1a1d27;
      margin-bottom: 16px;
    }
  }
}
//
@media screen and (min-width: 768px) and (max-width: 999px) {
  .footer-top:last-child {
    margin-top: 50px;
  }
  .footer-bottom {
    position: relative;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .footer-social {
    position: absolute;
    right: 0px;
    top: -70px;
  }
  .footer-left-block {
    p {
      margin-right: 0px;
    }
    .gr-text {
      margin-right: 635px;
    }
  }
}
