// Header component styles
.navbar {
  padding-top: 27px;
  padding-bottom: 27px;
}
.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-right: 40px;
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: var(--midnight-logic-500);
}
.logo-nav {
  width: 103px;
}
.navbar-nav .nav-item:not(:last-child) {
  margin-right: 26px;
}
.nav-btn .btn {
  border-radius: 28px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: var(--midnight-logic-500);
}

.nav-btn .btn:first-child {
  background-color: #80b9fb;
  border: none;
  margin-right: 6px;
}
.nav-btn .btn:nth-child(2) {
  background-color: #d1d2d4;
  border: none;
}
//
h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
}
h2 {
  margin-bottom: 48px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
}
// main
// hero
.hero {
  margin-top: 24px;
  margin-bottom: 72px;
  padding-top: 64px;
  background-color: #80b9fb;
  border-radius: 32px;
  display: flex;
  flex-wrap: nowrap;
  .hero-title {
    margin-left: 64px;
    padding-right: 180px;
    h1 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 56px;
      line-height: 107%;
      letter-spacing: -0.03em;
      color: #1a1d27;
    }
    p {
      padding-right: 102px;
      padding-top: 20px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      letter-spacing: -0.01em;
      color: #1a1d27;
    }
  }
  .hero-img {
    position: relative;
  }
  .hero-img .img-phone {
    max-width: 482px;
    height: 536px;
    display: block;
    border-radius: 32px;
  }
}
.slider-hero {
  position: absolute;
  top: 302px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 16px;
  padding: 16px;
  width: 272px;
  height: 90px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.7);
  h3 {
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #1a1d27;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #1a1d27;
  }
}
.slider-hero-icon {
  img {
    margin-right: 12px;
    max-width: 32px;
    height: 32px;
  }
}

.btn-slider {
  position: absolute;
  top: 476px;
  right: 65px;
  display: flex;
  flex-wrap: nowrap;
}
.left-btn {
  margin-right: 8px;
}
.left-btn,
.right-btn {
  border-radius: 50%;
  padding: 5px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.7);
  img {
    max-width: 18px;
    height: 18px;
  }
}

// second-block
.section-second {
  background-color: #f8f8f8;
}
.second-block {
  padding: 72px 0 72px 0;
}
.second-title {
  h2 {
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #1a1d27;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    color: #1a1d27;
  }
  margin-bottom: 40px;
}
.second-cart-item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .card:not(:last-child) {
    margin-right: 20px;
  }
  .card {
    width: 388px;
    border: none;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;

    img {
      margin-bottom: 20px;
      max-width: 348px;
      height: auto;
    }
  }
  .card-body {
    padding: 0px;
    h3 {
      line-height: 133%;
      letter-spacing: -0.01em;
      color: #1a1d27;
    }
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 15px;
      line-height: 147%;
      letter-spacing: -0.01em;
      color: #1a1d27;
    }
  }
}
.people {
  border-radius: 20px;
  padding: 32px;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  .number {
    padding-right: 550px;

    p {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 56px;
      line-height: 107%;
      letter-spacing: -0.03em;
      color: #1a1d27;
    }
  }
  .card-text {
    h3 {
      line-height: 133%;
      letter-spacing: -0.01em;
      color: #1a1d27;
    }
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 15px;
      line-height: 147%;
      letter-spacing: -0.01em;
      color: #1a1d27;
    }
  }
}
.card-people {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  top: -80px;
  right: -250px;
}

.card-people img {
  max-width: 64px;
  height: 64px;
  position: absolute;

  margin-left: 0;
  transition: all 0.3s ease;
}

.card-people img:first-child {
  margin-left: -90px;
  z-index: 9;
}

.card-people img:nth-child(2) {
  margin-left: -45px;
  z-index: 8;
}

.card-people img:nth-child(3) {
  margin-left: 0;
  z-index: 7;
}

.card-people img:nth-child(4) {
  margin-left: 45px;
  z-index: 6;
}

.card-people img:nth-child(5) {
  margin-left: 85px;
  z-index: 5;
}

// third-block
.third-block {
  margin-top: 72px;
  margin-bottom: 72px;
  padding-left: 64px;
  padding-top: 64px;
  background-color: #80b9fb;
  border-radius: 32px;
  display: flex;
  flex-wrap: nowrap;
  h2 {
    margin-top: 104px;
    margin-bottom: 400px;
    margin-right: 650px;

    line-height: 107%;
    letter-spacing: -0.03em;
    color: #1a1d27;
  }
}
.slider-1,
.slider-2 {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 16px;
  padding: 16px;
  width: 200px;
  height: 166px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  h3 {
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #1a1d27;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #1a1d27;
  }
}
.slider-1 {
  top: 302px;
  right: 420px;
}
.slider-2 {
  top: 232px;
  right: 95px;
}
.slider-third-icon {
  display: inline-block;
  img {
    margin-right: 12px;
    max-width: 32px;
    height: 32px;
  }
}

.third-img {
  position: relative;
  .img-man {
    position: absolute;
    right: 0px;
    max-width: 736px;
    height: 652px;
  }
}

// section-girl
.section-girl {
  background-color: #ffbea5;
}
.businesswoman {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 94px;
  padding-left: 43px;
}

.businesswoman-item {
  margin-bottom: 64px;
  margin-right: 38px;
  h2 {
    margin-bottom: 48px;
    text-align: center;

    line-height: 107%;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
}
.businesswoman-block:first-child {
  div {
    margin-bottom: 20px;
  }
}
.businesswoman-block {
  display: flex;
  flex-wrap: nowrap;
  div:nth-child(2) {
    margin-left: 20px;
  }
  div {
    padding: 24px;
    width: 286px;
    height: 190px;
    border-radius: 16px;
    backdrop-filter: blur(15px);
    background: #ffffff;
  }
  h3 {
    line-height: 133%;
    letter-spacing: -0.01em;
    color: #1a1d27;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    color: #1a1d27;
  }
}
// section-kompromisiem

.section-kompromisiem {
  background-color: #f8f8f8;
}
.blcok-kompromisiem {
  padding-top: 72px;
  padding-bottom: 72px;
  h2 {
    line-height: 107%;
    letter-spacing: -0.03em;
    color: var(--midnight-logic-500);
  }
}

.kompromisiem-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.card-kompromisiem {
  width: 388px;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 20px;

  img {
    max-width: 348px;
    height: 132px;
  }
  h3 {
    line-height: 133%;
    letter-spacing: -0.01em;
    color: #1a1d27;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    color: #1a1d27;
  }
}
//business-macbook
.business-macbook {
  margin-top: 72px;
  margin-bottom: 72px;
  padding-left: 64px;
  padding-top: 64px;
  background-color: #fff4db;
  border-radius: 32px;
  display: flex;
  flex-wrap: nowrap;
  h2 {
    margin-top: 104px;
    margin-right: 650px;
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #1a1d27;
  }
  .hero-title {
    h3 {
      margin-bottom: 304px;
      margin-right: 800px;
    }
  }
}
.business-macbook-slider-1,
.business-macbook-slider-2 {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 16px;
  padding: 16px;
  width: 200px;
  height: 166px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  h3 {
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #1a1d27;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #1a1d27;
  }
}
.business-macbook-slider-1 {
  top: 302px;
  right: 350px;
}
.business-macbook-slider-2 {
  top: 180px;
  right: 100px;
}
.slider-business-macbook-icon {
  display: inline-block;
  img {
    margin-right: 12px;
    max-width: 32px;
    height: 32px;
  }
}

.business-macbook-img {
  position: relative;
  .img-man {
    position: absolute;
    right: 64px;
    max-width: 736px;
    height: 652px;
  }
}

//tas-maska
.tas-maska {
  background-color: #f8f8f8;
}
