// Header component styles

.navbar {
  padding-top: 27px;
  padding-bottom: 27px;
}
.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-right: 40px;
  max-width: 103px;
  height: 34px;
}
.nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: var(--midnight-logic-500);
}
.logo-nav {
  width: 103px;
}
.navbar-nav .nav-item:not(:last-child) {
  margin-right: 26px;
}
.nav-btn .btn {
  border-radius: 28px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: var(--midnight-logic-500);
}

.nav-btn .btn:first-child {
  background-color: #80b9fb;
  border: none;
  margin-right: 6px;
}
.navbar-collapse {
  justify-content: space-between;
}
h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
}
h2 {
  margin-bottom: 48px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
}
.btn-close-menu {
  display: none;
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-menu {
  padding: 8px;
  border-radius: 12px;
  font-size: 1rem;
  color: #1a1d27;
  background-color: rgba(248, 248, 248, 0.7);
  backdrop-filter: blur(7.5px);
  border: none;
  .dropdown-item:hover,
  .dropdown-item:focus {
    width: 100%;
    padding: 5px;
    background-color: rgba(250, 234, 192, 0.459);
    border-radius: 12px;
  }
}
.second-dropdown-menu li {
  display: flex;
}
// ----------------------------------
@media screen and (max-width: 1279px) {
  body {
    position: relative;
  }
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    border: none;
    box-shadow: none;
  }
  .mobile-block-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    display: none; /* Изначально скрыт */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .navbar-nav {
    background-color: white;
    flex-direction: column !important;
    padding: 20px 20px 48px;
  }

  .btn-close-menu {
    display: block;
  }

  body {
    overflow-x: hidden;
  }
  //
  .mobile-block-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .mobile-menu {
    background-color: white;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 360px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .active-block-menu-back {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .active-menu {
    transform: translateX(0);
  }

  .navbar-toggler {
    display: block !important;
  }

  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
  }
  .navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
    margin-right: 24px;
  }
  //
}
@media screen and (max-width: 999px) {
  .nav-btn .btn:first-child {
    backdrop-filter: blur(15px);
    background: rgba(60, 141, 234, 0.7);
  }
  .nav-btn .btn:nth-child(2) {
    background: rgba(60, 141, 234, 0);
    border: none;
  }
  .nav-btn {
    color: white;
  }
}

.logo-nav-mobile {
  display: none;
}
.active-block-menu-back {
  z-index: 9999;
}
@media screen and (min-width: 1280px) {
  .nav-head {
    li:first-child,
    li:nth-child(2) {
      display: none;
    }
  }
  // .mobile-block-menu {
  //   display: none;
  //   opacity: 0;
  //   visibility: hidden;
  // }
}
.btn-close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  //
  .nav-head {
    .nav-item:last-child {
      display: none;
    }
  }
}
//
@media screen and (max-width: 999px) {
  .navbar {
    background-color: #80b9fb !important;
  } //
  .logo-nav-mobile {
    display: block;
  }
  .logo-nav {
    display: none;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-collapse:not(.show) {
    display: block !important;
  }

  .d-flex {
    display: flex !important;
    justify-content: flex-end;
  }
}
// @media screen and (min-width: 768px) and (max-width: 999px) {
// }
//
@media screen and (min-width: 360px) and (max-width: 767px) {
  .logo-nav-mobile {
    max-width: 104px;
  }
  .btn-slider {
    display: none !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .btn-first {
    font-size: 15px !important;
    position: absolute;
    top: 720px;
    right: 140px;
    z-index: 9888;
    padding: 13px 20px;
    backdrop-filter: blur(15px);
    background: rgba(60, 141, 234, 0.7);
  }
}
