// komanda
.komanda {
  border-radius: 32px;
  padding: 64px;
  background-color: #ffbea5;
  margin-bottom: 38px;
}
.komanda-left {
  position: relative;
  img {
    position: absolute;
    top: -100px;
    left: 104px;
    max-width: 404px;
    // height: 561px;
  }
}
.komanda-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  z-index: 11;
  div {
    border-radius: 8px;
    padding: 8px 12px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.7);
    h3 {
      font-weight: 700;
      font-size: 12px;
      line-height: 133%;
      color: #1a1d27;
    }
    p {
      font-weight: 500;
      font-size: 9px;
      line-height: 122%;
      letter-spacing: 0.01em;
      color: #1a1d27;
    }
  }
  div:first-child {
    position: absolute;
    left: 50px;
    top: 70px;
    width: 149px;
    height: 45px;
  }
  div:nth-child(2) {
    position: absolute;
    left: 350px;
    top: 200px;
    width: 92px;
    height: 67px;
  }
  div:nth-child(3) {
    position: absolute;
    left: 420px;
    top: 100px;
    width: 106px;
    height: 45px;
  }
}
.komanda-right {
  margin: 78px 0px 78px 650px;
  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 107%;
    letter-spacing: -0.03em;
    color: #1a1d27;
    margin-bottom: 12px;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.01em;
    color: #1a1d27;
    margin-bottom: 32px;
  }
  div {
    a {
      font-weight: 700;
      font-size: 18px;
      line-height: 133%;
      letter-spacing: -0.01em;
    }
  }
}
.btn-komanda {
  padding: 13px 20px 13px 20px;
  border-radius: 28px;
  background-color: #fff4db;
  font-weight: 700;
  margin-left: 156px;
}
//
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .komanda-left img {
    position: absolute;
    top: -100px;
    left: 4px;
    max-width: 404px;
  }
  .komanda-right {
    margin-bottom: 142px;
    margin-top: 0px;
    margin-left: 499px;
    div {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  .komanda-item div:nth-child(3) {
    left: 320px;
  }
  .komanda-item div:nth-child(2) {
    left: 250px;
  }
  .komanda-item div:first-child {
    left: 0px;
  }
  .btn-komanda {
    margin-left: 0px;
  }
}
//
@media screen and (min-width: 768px) and (max-width: 999px) {
  .komanda {
    margin-bottom: 0px;
  }
  .section-team {
    background-color: #ffbea5;
  }
  .komanda-right {
    margin: 450px 0px 78px 0px;
    div {
      text-align: right;
    }
  }
  .btn-komanda {
    margin-left: 24px;
  }
}
